basic_wsdl.xml

<?xml version="1.0"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:prt0="urn:AdapterMessageMonitoringWsd/AdapterMessageMonitoringVi" targetNamespace="urn:AdapterMessageMonitoringWsd/basic" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

<wsdl:operation name="getPredecessorMessageId">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getMessagesWithSuccessors">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getMessagesByIDs">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="cancelMessages">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getConnections">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getInterfaces">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getUserDefinedSearchAttributes">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getUserDefinedSearchFilters">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getUserDefinedSearchExtractors">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getMessageBytesJavaLangStringBoolean">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getMessageBytesJavaLangStringIntBoolean">

<soap:operation soapAction=""/>


<wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getMessageList">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getLoggedMessageBytes">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getUserDefinedSearchMessages">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getMessagesByKeys">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getLogEntries">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getParties">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getServices">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="resendMessages">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getStatusDetails">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getAllAvailableStatusDetails">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getErrorCodes">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="getIntegrationFlows">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>


<wsdl:operation name="failEoioMessage">

<soap:operation soapAction=""/>


<wsdl:input>

<soap:body use="literal" parts="parameters"/>

</wsdl:input>


<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>


<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">

<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>

</wsdl:fault>

</wsdl:operation>

</wsdl:binding>

</wsdl:definitions>